.container {
  padding: 40px 30px;
  margin: 40px 0;
  border-radius: 20px;
  transition: all 0.2s;
  // background-color: #ff5100;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 0.2s;
  }
  .title {
    margin-bottom: 20px;
  }
  .desc {
    text-align: justify;
  }
}
