.button {
  border: 1px solid transparent;
  color: tomato;
  padding: 10px;
  transition: all 0.25s;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}

.button:hover {
  border: 1px solid tomato;
  transition: all 0.25s;
  border-radius: 35px;
  background-color: tomato;
  color: white;
}
