.container {
  padding: 40px 0;
  text-align: center;

  .heading {
    font-size: 80px;
    font-weight: 400;
    font-family: "Eurostyle", "Segoe UI";
    padding-bottom: 10px;
  }
  .subHeading {
    font-size: 24px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
