.container {
  //   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  @media only screen and (max-width: 768px) {
    text-align: center;
  }
  .heading {
    font-size: 80px;
    font-weight: 400;
    padding: 40px 0;
    font-family: "Eurostyle";
  }
  .subHeading {
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
