html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Eurostyle";
  src: url("/public/fonts/EurostileBold.ttf"), format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.col-md-4 {
  margin: 15px 0;
}
a {
  text-decoration: none;
  color: unset;
}
